<h1>ユーザー登録</h1>

<%= form_with(model: @user) do |f| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :student_no, "学籍番号" %><br>
    <%= f.text_field :student_no %>
  </div>

  <div>
    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>

<p><%= link_to "ログイン画面に戻る", login_path %></p>
