<!DOCTYPE html>
<html>
  <head>
    <title>LibRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
        <span><%= current_user.name %>さん</span>
        <%= button_to "ログアウト", logout_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", login_path %>
      <% end %>
    </header>
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <%= yield %>
  </body>
</html>